<%- include('parts/header.ejs') %>
    <%- include('parts/nav.ejs') %>
        <div class="container">
            <p class="alert alert-danger">
                something is wrong
            </p>
        </div>
        <%- include('parts/footer.ejs') %>